@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
  .h-screen-minus-mt-12 {
    height: calc(100vh - 3rem);
  }
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: auto; /* or thin */
  scrollbar-color: var(--color-scroll) var(--color-bg-light); /* thumb and track color */
}

*::-webkit-scrollbar {
  width: 1rem;  /* Adjust to your preference */
}

*::-webkit-scrollbar-track {
  background: var(--color-bg-light);  /* Scroll bar background */
  border: 1px solid var(--color-border);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);  /* Scroll bar thumb color */
  border: 1px solid var(--color-border);
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.markdown a {
  text-decoration: underline;
}

.card {
  padding: 2em;
}

#app {
  min-width: 100vw;
  margin: 0;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: clamp(0.9rem, -0.34vw + 0.97rem, 0.7rem);
          --font-size-base: clamp(1.13rem, 0vw + 1.13rem, 1.13rem);
          --font-size-md: clamp(1.41rem, 0.69vw + 1.27rem, 1.82rem);
          --font-size-lg: clamp(1.76rem, 1.98vw + 1.36rem, 2.95rem);
          --font-size-xl: clamp(2.2rem, 4.28vw + 1.34rem, 4.77rem);
          --font-size-xxl: clamp(2.75rem, 8.27vw + 1.09rem, 7.71rem);
          --font-size-xxxl: clamp(3.43rem, 15.07vw + 0.42rem, 12.48rem);
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: 0.9rem;
          --font-size-base: 1.13rem;
          --font-size-md: 1.41rem;
          --font-size-lg: 1.76rem;
          --font-size-xl: 2.2rem;
          --font-size-xxl: 2.75rem;
          --font-size-xxxl: 3.43rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --font-size-sm: 0.7rem;
              --font-size-base: 1.13rem;
              --font-size-md: 1.82rem;
              --font-size-lg: 2.95rem;
              --font-size-xl: 4.77rem;
              --font-size-xxl: 7.71rem;
              --font-size-xxxl: 12.48rem;
      }
    }
  }

  /* can convert to hsl and manage this with % variables if prefered; i put hex because i already have these colours*/
:root {
  --dark-text-blue: #00495A;
  --dark-text-red: #00495A;
  --paper-red: #f9dfdd;
  --soft-red: #ed9f99;
  --vivid-red: #e15f55;
  --vivid-red: var(--color-lab-4b);
  --paper-blue: #cce9f0;
  --soft-blue: #66bdd2;
  --vivid-blue: #0091b4;
  --paper-green: #f0f6f2;
  --paper-green: var(--color-lab-3c);
  --soft-green: #d3e3d9;
  --vivid-green: #b5d1c0;
  --paper-yellow: #fff5d9;
  --paper-yellow: var(--color-lab-1c);
  --soft-yellow: #fee28d;
  --vivid-yellow: #fdcf41;


  --color-border: hsl(0, 0%, 50%);
  --color-border-light: hsl(0, 0%, 75%);
  /* --color-border: var(--color-lab-3a); */
  --color-scroll: hsl(0, 0%, 50%);
  /* --color-scroll: var(--color-lab-3b); */
  --color-text-dark: hsl(0, 0%, 0%);
  --color-text-light: hsl(0, 100%, 100%);
  --color-bg-light: hsl(0, 100%, 100%);

  --color-tooltip-bg: var(--color-lab-4a);
  --color-tooltip-text: var(--color-text-light);


  --color-lab-1a: hsl(250, 100%, 50%);
  --color-lab-1b: hsl(250, 100%, 75%);
  --color-lab-1c: hsl(250, 100%, 95%);
  --color-lab-2a: hsl(274, 100%, 50%);
  --color-lab-2b: hsl(274, 100%, 75%);
  --color-lab-2c: hsl(274, 100%, 95%);
  --color-lab-3a: hsl(320, 100%, 50%);
  --color-lab-3b: hsl(320, 100%, 75%);
  --color-lab-3c: hsl(320, 100%, 95%);
  --color-lab-4a: hsl(340, 100%, 50%);
  --color-lab-4b: hsl(340, 100%, 75%);
  --color-lab-4c: hsl(340, 100%, 95%);
  --color-lab-5a: hsl(20, 100%, 50%);
  --color-lab-5b: hsl(20, 100%, 75%);
  --color-lab-5c: hsl(20, 100%, 95%);
  --color-lab-6a: hsl(40, 100%, 50%);
  --color-lab-6b: hsl(40, 100%, 75%);
  --color-lab-6c: hsl(40, 100%, 95%);


  --font-family: "Helvetica Neue", Helvetica, sans-serif;

}

* {
  /* border-style: inset; */
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  border-color: var(--color-border) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  line-height: 1;
  text-transform: capitalize;
}

.bold-heading {
  font-family: var(--font-family);
}

.oblique-heading {
  font-family: var(--font-family);
  font-style: oblique 6deg;
  padding-right: 0.5ch;
}

p {
  font-family: var(--font-family);
  line-height: 1.5;
  max-width: 72ch;
}

h1 {
    font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
  }
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-lg);
}
h5 {
  font-size: var(--font-size-md);
}
h6 {
  font-size: var(--font-size-base);
}

small {
  font-size: var(--font-size-sm);
}


button {
  padding: 0.6rem;
  font-family: var(--font-family);
  color: var(--color-text-dark);
  font-size: var(--font-size-base);
  border: var(--color-border) 1px solid;
  min-width: 6rem;
  text-transform: capitalize;
}

button:hover {
cursor: pointer;
box-shadow: 0 2px var(--color-border);
transform: translateY(-1px);
}

.utility {
  background-color: white;
}

.utility:active {
  box-shadow: 0 1px var(--color-border);
  transform: translateY(1px);
}

.phase1 {
  background-color: var(--paper-yellow);
}

.phase1:active {
  background-color: var(--soft-yellow);
  box-shadow: 0 1px var(--color-border);
  transform: translateY(1px);
}

.phase2 {
  background-color: var(--paper-green);
}

.phase2:active {
  background-color: var(--soft-green);
  box-shadow: 0 1px var(--color-border);
  transform: translateY(1px);
}

.phase3 {
  background-color: var(--paper-red) ;
}

.phase3:active {
  background-color: var(--soft-red);
  box-shadow: 0 1px var(--color-border);
  transform: translateY(1px);
}

.phase4 {
  background-color: var(--paper-blue);
}

.phase4:active {
  background-color: var(--soft-blue);
  box-shadow: 0 1px var(--color-border);
  transform: translateY(1px);
}

.paper-yellow {
  background-color: var(--paper-yellow);
}

::placeholder {
  color: var(--color-text-dark) !important;
}

.overlay, .artefact-overlay, .modal {
  border: 1px solid var(--color-border);
  box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.3);
}

.borderstudio {
  border-color: var(--color-border-light) !important;
}


/* I hate my life */

.mb-2 {
  margin-bottom: 1rem !important;
}

.truncate {
  font-weight: 400 !important;
}


h3 {
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-bottom: 0.25rem;
}
h4 {
  font-size: var(--font-size-md);
  font-weight: 400;
  /* line-height: 1.5; */
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
h5 {
  width: 100% !important;
}
h6 {
  margin-bottom: 1rem;
}


.tooltip {
  position: relative;
  display: inline-block;
}
h4 .tooltip {
  text-transform: initial;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20ch;
  font-size: var(--font-size-base) !important;
  line-height: 1.5;
  background-color: var(--color-tooltip-bg);
  color: var(--color-tooltip-text);
  text-align: left;
  border-radius: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1000;
  top: 110%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 40px;
  aspect-ratio: 1;
  border: 20px solid transparent;
  border-right: 0;
  border-left: 20px solid var(--color-tooltip-bg);
}

.tooltip:hover .tooltiptext, .tooltip .tooltiptext.visible {
  visibility: visible;
  opacity: 1;
}



.my-grid-container-wrapper {
  isolation: isolate;
  z-index: 10;
}

.side-bar {
  isolation: isolate;
  z-index: 20;
}

